@charset "UTF-8";
.border_style {
  border-width: 1px;
  border-style: solid;
  border-color: green;
}
#content {
  background-color: blanchedalmond;
  border-width: 1px;
  border-style: solid;
  border-color: green;
  height: 100px;
  width: 100px;
}
.list {
  margin-left: 300px;
  width: 100px;
  background-color: antiquewhite;
  border: 1px solid green;
}
.list li:hover {
  color: red;
}
.box {
  height: 100px;
  width: 100px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ff0000 transparent;
  background-color: azure;
}
.math {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border: 1px solid green;
}
